

.testimonios .slick-slide {
    transition: all 0.3s ease;
  }
  
 .testimonios .slick-slide:not(.slick-center) {
    opacity: 0.5;
  }
  
  .testimonios .slick-dots li button:before {
    font-size: 10px;
    color: #000;
  }
  
  .testimonios .slick-dots li.slick-active button:before {
    color: #000;
  }
  
  .testimonios .slick-prev:before,
  .testimonios .slick-next:before {
    color: #000;
  }
  
  .testimonios .star-rating {
    color: #ffd700; 
  }
  
  .testimonios .star-rating.gray {
    color: #d3d3d3; 
  }
  